header 
    .header
        a(href="#")
            img(src="img/logo.svg", alt="logo")
        nav
            ul.nav 
                li.nav--item 
                    a(href="#").nav--link О нас
                li.nav--item.expand 
                    a(href="#").nav--link Услуги 
                li.nav--item 
                    a(href="#").nav--link Вакансии
                li.nav--item 
                    a(href="#").nav--link Новости
                li.nav--item.expand 
                    a(href="#").nav--link  Соглашения
                .nav.login-status
                    li.nav--item 
                        button.nav--btn.active ВОЙТИ
                    li.nav--item 
                        button.nav--btn ЗАРЕГИСТРИРОВАТЬСЯ
