header 
    .header
        a(href="#")
            img(src="img/logo.svg", alt="logo")
        nav
            ul.nav 
                li.nav--item 
                    a(href="#").nav--link О нас
                li.nav--item 
                    a(href="#").nav--link.expand Услуги 
                        img.arrow(src="img/expand.svg", alt="")
                li.nav--item 
                    a(href="#").nav--link Вакансии
                li.nav--item 
                    a(href="#").nav--link Новости
                li.nav--item 
                    a(href="#").nav--link.expand  Соглашения
                        img.arrow(src="img/expand.svg", alt="")
        ul.control 
            li.control--item 
                button.control--btn.active Войти
            li.control--item 
                button.control--btn Зарегистрироваться
