doctype html
html(lang="en")
  head
    title= pageTitle
    style
      include styles/normalize.css
      include styles/style.css
  body
    include modules/header
    
    section
      .banner
        .banner--UI-field 
          include modules/room_finder

    include modules/footer